# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/CS-702-Algo-SaqibSb/assignments
/CS-702-Algo-SaqibSb/ClonedWork
/CS-702-Algo-SaqibSb/JAVA_WORK
/CS-702-Algo-SaqibSb/Practice

/CS-701-Adv-Theory-of-computation-SirMateenSb/Assignments
/CS-721-Adv-Computer-Architecture-SirSulmanAfsar/Assignment